﻿<%@ Page Title="" Language="C#" MasterPageFile="~/main/template/MasterPage - Admin.master" AutoEventWireup="true" CodeFile="Dashboard.aspx.cs" Inherits="main_template_Dashboard" %>

<asp:Content ID="Content1" ContentPlaceHolderID="title" Runat="Server">
    Welcome to Dashboard
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="main" Runat="Server">
    Dashboard Content
</asp:Content>

